*, input, button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background: #000;
  color: #e5e5e5;
  font-family: "Overpass";
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.header__button-nav {
  width: 48px;
  height: 25px;
  background: url("../img/Navigation.png") no-repeat center/cover;
  border: none;
  cursor: pointer;
}
.header__search {
  display: flex;
  align-items: flex-end;
}
.header__search__button {
  width: 18px;
  height: 18px;
  padding-bottom: 24px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  background: url("../img/header-search.png") no-repeat right top;
  cursor: pointer;
}
.header__input {
  background: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  padding-right: 8px;
  max-width: 140px;
  width: 100%;
  height: 30px;
  color: #e5e5e5;
  font-size: 16px;
}