*, input, button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background: #000;
  color: #e5e5e5;
  font-family: "Overpass", sans-serif;
}

input {
  font-family: "Overpass";
}

button {
  font-family: "Overpass";
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.title {
  font-size: 79px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}
.title--light {
  color: #8bd976;
}

.button {
  width: 134px;
  height: 34px;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 17px;
  font-weight: bold;
}
.button--light {
  line-height: 2.3;
  border: none;
  background-color: #8bd976;
}
.button--secondary {
  line-height: 1.9;
  background: none;
}
.button--secondary-light {
  color: #8bd976;
  border: 3px solid #8bd976;
}

.section-light {
  background: #8bd876;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.header__button-nav {
  width: 48px;
  height: 25px;
  background: url("../img/Navigation.png") no-repeat center/cover;
  border: none;
  cursor: pointer;
}
.header__search {
  display: flex;
  align-items: flex-end;
}
.header__search__button {
  width: 18px;
  height: 18px;
  padding-bottom: 24px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  background: url("../img/header-search.png") no-repeat right top;
  cursor: pointer;
}
.header__input {
  background: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  padding-right: 8px;
  max-width: 140px;
  width: 100%;
  height: 30px;
  color: #e5e5e5;
  font-size: 16px;
}

.promo {
  height: 90vh;
  margin-top: -110px;
  padding-top: 222px;
  background: url("../img/promo-star-down.png") no-repeat bottom -100px left -100px, url("../img/promo-star.png") no-repeat top -110px right 450px;
}
.promo__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.promo__preview {
  max-width: 813px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.promo__heading {
  max-width: 353px;
  width: 100%;
}
.promo__title {
  margin-top: 34px;
}
.promo__info {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 30px;
}
.promo__buttons {
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__img {
  width: 348px;
  height: 458px;
  border: 3px solid #e5e5e5;
  background: url("../img/promo.png") no-repeat center/cover;
}
.promo__dates {
  max-width: 260px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.promo__card {
  max-width: 110px;
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.promo__card--up::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -55px;
  content: "";
  display: flex;
  width: 106px;
  height: 15px;
  border: 3px solid #8bd976;
  border-radius: 30px;
}
.promo__card--down::after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -55px;
  content: "";
  display: flex;
  width: 106px;
  height: 15px;
  border: 3px solid #8bd976;
  border-radius: 30px;
}
.promo__card__title {
  font-size: 35px;
  font-weight: 400;
  color: #8bd976;
  margin-bottom: 15px;
}
.promo__list {
  font-size: 14px;
  list-style: none;
}

.tour {
  padding-top: 240px;
  padding-bottom: 240px;
  background: url("../img/tour-top-line.png") no-repeat top -300px left -300px, url("../img/tour-bottom-line.png") no-repeat bottom -110px left -60px #8bd876;
}
.tour__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour__heading {
  max-width: 469px;
  width: 100%;
}
.tour__title {
  margin-bottom: 15px;
}
.tour__info {
  font-size: 14px;
  font-weight: 300;
}
.tour__cards {
  max-width: 442px;
  width: 100%;
}
.tour__card:first-child {
  padding-bottom: 38px;
  border-bottom: 4px solid #000;
  margin-bottom: 38px;
}
.tour__card__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 5px;
}
.tour__card__text {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}