@keyframes flare {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}
@keyframes visibilityBtn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*, input, button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #e5e5e5;
  font-family: "Overpass", sans-serif;
}

input {
  font-family: "Overpass";
}

button {
  font-family: "Overpass";
  cursor: pointer;
}

img {
  border-radius: 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.title {
  font-size: 79px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px #000;
}
.title--light {
  -webkit-text-stroke: 3px #8bd976;
}

.button {
  width: 134px;
  height: 34px;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 17px;
  font-weight: bold;
  line-height: 2.3;
  position: relative;
  overflow: hidden;
}
.button--light {
  border: none;
  background-color: #8bd976;
}
.button--light:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 15px;
  transform: skewX(-30deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));
  animation: flare 0.3s linear;
}
.button--dark {
  border: none;
  background-color: #000;
  color: #e5e5e5;
}
.button--dark:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 20px;
  transform: skewX(-30deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
  animation: flare 0.3s linear;
}
.button--secondary {
  line-height: 1.9;
  background: none;
  transition: all 0.3s;
}
.button--secondary span {
  position: relative;
  z-index: 4;
}
.button--secondary-light {
  color: #8bd976;
  border: 3px solid #8bd976;
  position: relative;
}
.button--secondary-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  width: 0%;
  transform: skewX(-30deg);
  background: #8bd976;
  transition: all 0.3s;
}
.button--secondary-light:hover {
  color: #000;
}
.button--secondary-light:hover::before {
  width: 104%;
}
.button--secondary-dark {
  border: 3px solid #000;
  color: #000;
}
.button--secondary-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  width: 0%;
  transform: skewX(-30deg);
  background: #000;
  transition: all 0.3s;
}
.button--secondary-dark:hover {
  color: #8bd976;
}
.button--secondary-dark:hover::before {
  width: 104%;
}

.section-light {
  background: #8bd876;
  color: #000;
}

#up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 100px;
  border-radius: 50%;
  border: 2px solid #000;
  background: url("../img/up.svg") no-repeat center #8bd976;
  background-size: 70%;
  transition: transform 0.3s;
}

.up-visible {
  transform: scale(1);
}

.up-hidden {
  transform: scale(0);
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(229, 229, 229, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  opacity: 0;
}

.error-visible {
  opacity: 1;
  transition: opacity 0.5s;
}

.error-hidden {
  opacity: 0;
  visibility: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.header__button-nav {
  width: 48px;
  height: 25px;
  background: url("../img/Navigation.png") no-repeat center/cover;
  border: none;
  cursor: pointer;
}
.header__search {
  display: flex;
  align-items: flex-end;
}
.header__search__button {
  width: 18px;
  height: 18px;
  padding-bottom: 24px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  background: url("../img/header-search.png") no-repeat right top;
  cursor: pointer;
}
.header__input {
  background: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  padding-right: 8px;
  max-width: 140px;
  width: 100%;
  height: 30px;
  color: #e5e5e5;
  font-size: 16px;
}

.promo {
  height: 90vh;
  margin-top: -110px;
  padding-top: 222px;
  background: url("../img/promo-star-down.png") no-repeat bottom -100px left -100px, url("../img/promo-star.png") no-repeat top -110px right 450px;
}
.promo__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.promo__preview {
  max-width: 813px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.promo__heading {
  max-width: 353px;
  width: 100%;
}
.promo__title {
  margin-top: 34px;
}
.promo__info {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 30px;
}
.promo__buttons {
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__img {
  width: 348px;
  height: 458px;
  border-radius: 30px;
  background: url("../img/promo.png") no-repeat center/cover;
}
.promo__dates {
  max-width: 260px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.promo__card {
  max-width: 110px;
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.promo__card--up::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -55px;
  content: "";
  display: flex;
  width: 106px;
  height: 15px;
  border: 3px solid #8bd976;
  border-radius: 30px;
}
.promo__card--down::after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -55px;
  content: "";
  display: flex;
  width: 106px;
  height: 15px;
  border: 3px solid #8bd976;
  border-radius: 30px;
}
.promo__card__title {
  font-size: 35px;
  font-weight: 400;
  color: #8bd976;
  margin-bottom: 15px;
}
.promo__list {
  font-size: 14px;
  list-style: none;
}

.tour {
  padding-top: 240px;
  padding-bottom: 240px;
  background: url("../img/tour-top-line.png") no-repeat top -300px left -300px, url("../img/tour-bottom-line.png") no-repeat bottom -110px left -60px #8bd876;
}
.tour__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour__heading {
  max-width: 469px;
  width: 100%;
}
.tour__title {
  margin-bottom: 15px;
}
.tour__info {
  font-size: 14px;
  font-weight: 300;
}
.tour__cards {
  max-width: 442px;
  width: 100%;
}
.tour__card:first-child {
  padding-bottom: 38px;
  border-bottom: 4px solid #000;
  margin-bottom: 38px;
}
.tour__card__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 5px;
}
.tour__card__text {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

.artists {
  padding: 180px 0px 100px 0px;
}
.artists__heading {
  text-align: center;
  margin-bottom: 110px;
}
.artists__info {
  display: flex;
  max-width: 456px;
  width: 100%;
  margin: auto;
  font-size: 14px;
}
.artists__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.artists__card {
  max-width: 527px;
  width: 100%;
  margin-bottom: 80px;
}
.artists__card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.artists__card__heading {
  color: #8bd976;
}
.artists__card__title {
  font-size: 35px;
  font-weight: 400;
}
.artists__card__desc {
  font-size: 17px;
  font-weight: 400;
}
.artists__dates {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
}
.artists__date {
  margin-bottom: 15px;
}
.artists__img {
  width: 527px;
  height: 240px;
  margin-bottom: 38px;
}

.new {
  padding: 185px 0;
  background: url("../img/new-bg.png") no-repeat center/cover #8bd876;
}
.new__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new__img {
  width: 610px;
  height: 477px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.new__heading {
  max-width: 450px;
  width: 100%;
}
.new__title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.new__title span:first-child {
  width: 100%;
  text-align: right;
  position: relative;
}
.new__title span:first-child::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  content: "";
  display: flex;
  width: 150px;
  height: 20px;
  border: 3px solid #000;
  border-radius: 30px;
}
.new__title span:last-child {
  width: 100%;
  position: relative;
}
.new__title span:last-child::before {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  content: "";
  display: flex;
  width: 210px;
  height: 20px;
  border: 3px solid #000;
  border-radius: 30px;
}
.new__info {
  display: flex;
  max-width: 365px;
  text-align: justify;
  width: 100%;
  font-size: 14.5px;
  margin-bottom: 30px;
}
.new__buttons {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introducing {
  padding: 110px 0px;
}
.introducing__block {
  position: relative;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introducing__sub {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 260px;
  width: 100%;
  margin: auto;
  font-size: 14px;
  text-align: right;
}
.introducing__heading {
  max-width: 780px;
  width: 100%;
  margin-bottom: 10px;
}
.introducing__info {
  display: flex;
  max-width: 500px;
  width: 100%;
  text-align: justify;
  font-size: 14px;
  margin-bottom: 30px;
}
.introducing__img {
  width: 400px;
}
.introducing__date {
  margin-top: 50px;
}
.introducing__date__title {
  font-size: 35px;
  color: #8bd976;
  font-weight: 400;
  margin-bottom: 20px;
}
.introducing__date__info {
  font-size: 14px;
  max-width: 340px;
  width: 100%;
  display: flex;
}

.shows {
  padding: 100px 0px 150px 0px;
  background: url("../img/shows_line.png") no-repeat right top, url("../img/shows_line.png") no-repeat left -50px bottom -30px, #8bd876;
  position: relative;
}
.shows__heading {
  text-align: center;
  margin-bottom: 100px;
}
.shows__sub {
  font-size: 35px;
  font-weight: 400;
  -webkit-text-stroke: 2px #000;
  color: rgba(0, 0, 0, 0);
}
.shows__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  flex-wrap: wrap;
}
.shows__card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.shows__date {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 15px;
}
.shows__info {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  text-align: justify;
  margin-bottom: 15px;
}

.shop {
  padding: 115px 0;
}
.shop__heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}
.shop__info {
  display: flex;
  max-width: 495px;
  width: 100%;
  font-size: 14px;
}
.shop__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.shop__card {
  max-width: 526px;
  width: 100%;
  margin-top: 100px;
}
.shop__card__info {
  max-width: 526px;
  width: 100%;
  position: relative;
  margin-top: -50px;
  margin-left: 10px;
  background-color: #8bd876;
  border-radius: 30px;
  padding: 30px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop__name {
  font-size: 35px;
  font-weight: 400;
  color: #000;
}

.footer {
  padding: 95px 60px;
  background-color: #8bd876;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.footer__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #000;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.footer__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  text-transform: capitalize;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__rights {
  font-size: 17px;
  font-weight: 400;
  color: #000;
}