.promo
    height: 90vh
    margin-top: -110px
    padding-top: 222px
    background: url('../img/promo-star-down.png') no-repeat bottom -100px left -100px, url('../img/promo-star.png') no-repeat top -110px right 450px
    &__block
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__preview
        max-width: 813px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__heading
        max-width: 353px
        width: 100%
    &__title
        margin-top: 34px
    &__info
        display: flex
        font-size: 14px
        font-weight: 300
        margin-top: 5px
        margin-bottom: 30px
    &__buttons
        max-width: 280px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
    &__img
        width: 348px
        height: 458px
        border: 3px solid $light
        background: url('../img/promo.png') no-repeat center / cover
    &__dates
        max-width: 260px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin-bottom: 50px
    &__card
        max-width: 110px
        width: 100%
        margin-top: 40px
        position: relative
        &--up::before
            position: absolute
            top: 0
            left: 0
            margin-top: -55px
            content: ''
            display: flex
            width: 106px
            height: 15px
            border: 3px solid $accent
            border-radius: 30px
        &--down::after
            position: absolute
            bottom: 0
            left: 0
            margin-bottom: -55px
            content: ''
            display: flex
            width: 106px
            height: 15px
            border: 3px solid $accent
            border-radius: 30px        
        &__title
            font-size: 35px
            font-weight: 400
            color: $accent
            margin-bottom: 15px
    &__list
        font-size: 14px
        list-style: none